<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:fragment="userAddFormJsFragment()" th:inline="javascript">
    //성공 메세지를 만드는 fuction
    function createSuccessMsgDiv(message){
        return `
                <div class="input-success text-start">${message}</div>
            `
    }

    //에러 메세지 만드는 function
    function createErrorMsgDiv(message){
        return `
                <div class="input-danger text-start">${message}</div>
            `
    }

    //적절한 아이디 패턴 확인
    function isCorrectLoginId(loginId){
        //5~12자의 영문 소문자, 숫자와 특수기호(_)만 사용 가능
        const regEp = /^[a-z]{1}[a-zA-Z0-9_]{4,11}$/
        return regEp.test(loginId);
    }
    $("#loginId").bind('blur',() =>{
        const loginId = $("#loginId").val();
        $("#loginId").removeClass('is-valid')
        if(isCorrectLoginId(loginId)){
            //적절한 경우
            $("#loginIdErrorDiv").text("");
            $("#loginId").removeClass("is-invalid")
        } else{
            //적절하지 않는 경우
            $("#loginIdErrorDiv").empty().append(
                createErrorMsgDiv("아이디 : 5~12자의 영문 소문자, 숫자와 특수기호(_)만 사용 가능합니다.")
            )
            $("#loginId").addClass("is-invalid")
        }
    })

    //적절한 비밀번호 패턴 확인
    function isCorrectPassword(password){
        const regEp = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,15}$/
        return regEp.test(password);
    }
    $("#password").bind('blur',() =>{
        const password = $("#password").val();
        if(isCorrectPassword(password)){
            //적절한 경우
            $("#passwordErrorDiv").empty();
            $("#password").removeClass("is-invalid")
        } else{
            //적절하지 않는 경우
            $("#passwordErrorDiv").empty().append(
                createErrorMsgDiv("비밀번호 : 길이는 최소 8문자 최대 15문자, 특수문자 1개, 대문자 1개, 소문자 1개, 숫자 1개이상 사용해 주세요")
            )
            $("#password").addClass("is-invalid")
        }
    })

    $("#passwordMatch").bind('blur',() =>{
        const password = $("#password").val();
        const passwordCheck = $("#passwordMatch").val();
        if(password === passwordCheck && password !== ""){
            //적절한 경우
            $("#passwordMatchResultDiv").empty()
            $("#passwordMatch").removeClass("is-invalid")
        } else{
            //적절하지 않는 경우
            $("#passwordMatchResultDiv").empty().append(
                createErrorMsgDiv("비밀번호 확인 : 입력하신 비밀번호와 같은지 확인해주세요")
            )
            $("#passwordMatch").addClass("is-invalid")
        }
    })

    $("#name").bind('blur',() =>{
        const name = $("#name").val();
        if(name !== ""){
            //적절한 경우
            $("#nameErrorDiv").empty();
            $("#name").removeClass("is-invalid")
        } else{
            //적절하지 않는 경우
            $("#nameErrorDiv").empty().append(
                createErrorMsgDiv("이름 : 필수 정보입니다.")
            )
            $("#name").addClass("is-invalid")
        }
    })

    //적절한 이메일 패턴 인지 확인
    function isCorrectEmail(email){
        const regEp = /\w+@\w+\.\w+(\.\w+)?/
        return regEp.test(email);
    }
    $("#email").bind('blur',() =>{
        const email = $("#email").val();
        if(isCorrectEmail(email)){
            //적절한 경우
            $("#emailErrorDiv").text("");
            $("#email").removeClass("is-invalid")
        } else{
            //적절하지 않는 경우
            $("#emailErrorDiv").empty().append(
                createErrorMsgDiv("이메일 : 이메일 주소가 정확한지 확인해 주세요.")
            )
            $("#email").addClass("is-invalid")
        }
    })

    $("#userName").bind('blur',() =>{
        const userName = $("#userName").val()
        $("#userName").removeClass("is-valid")
        if(userName !== ""){
            //적절한 경우
            $("#userNameErrorDiv").empty();
            $("#userName").removeClass("is-invalid")
        } else{
            //적절하지 않는 경우
            $("#userNameErrorDiv").empty().append(
                createErrorMsgDiv("닉네임 : 필수 정보입니다.")
            )
            $("#userName").addClass("is-invalid")
        }
    })


    $('#loginIdCheck').bind('click', ()=>{
        const loginId = $("#loginId").val();

        if($("#loginId").hasClass("is-invalid") || loginId === ""){
            //만약 사용 불가능한 아이디를 중복체크 할 경우
            return
        }

        $.get("/users/join/check-login-id?loginId=" + loginId)
            .done((result) => {
                if(!result.data){
                    //가입할 아이디와 중복된 유저가 존재하지 않는 경우
                    $("#loginId").removeClass("is-invalid").addClass("is-valid")
                    $("#loginIdErrorDiv").empty().append(
                        createSuccessMsgDiv("사용 가능한 아이디 입니다!")
                    )
                } else{
                    //가입할 아이디와 중복된 유저가 존재하는 경우
                    $("#loginId").removeClass("is-valid").addClass("is-invalid")
                    $("#loginIdErrorDiv").empty().append(
                        createErrorMsgDiv("사용 불가능한 아이디 입니다!")
                    )
                }
            })
            .fail((error) => {
                console.error(JSON.stringify(error.responseJSON.message))
            })
    })

    $('#userNameCheck').bind('click', ()=>{
        const userName = $("#userName").val();

        if($("#userName").hasClass("is-invalid") || userName === ""){
            //만약 사용 불가능한 아이디를 중복체크 할 경우
            return
        }

        $.get("/users/join/check-user-name?userName=" + userName)
            .done((result) => {
                if(!result.data){
                    //가입할 닉네임과 중복된 유저가 존재하지 않는 경우
                    $("#userName").removeClass("is-invalid").addClass("is-valid")
                    $("#userNameErrorDiv").empty().append(
                        createSuccessMsgDiv("사용 가능한 닉네임 입니다!")
                    )
                } else{
                    //가입할 아이디와 중복된 유저가 존재하는 경우
                    $("#userName").removeClass("is-valid").addClass("is-invalid")
                    $("#userNameErrorDiv").empty().append(
                        createErrorMsgDiv("사용 불가능한 닉네임입니다!")
                    )
                }
            })
            .fail((error) => {
                console.error(JSON.stringify(error.responseJSON.message))
            })
    })

    //전부 검증을 통과했는지 확인하는 function

    function checkInValidAllInput(){
        const inputElementIdArray = [
            "loginId","password","passwordMatch","name","userName","email",
        ]
        let isAllValid = true;
        $.each(inputElementIdArray, (index,element) => {
            $("#" + element).trigger('blur')
            if($('#' + element).hasClass('is-invalid')){
                isAllValid = false;
            }
        })
        return isAllValid;
    }

    function checkDuplicateUser(){
        return $("#loginId").hasClass("is-valid") && $("#userName").hasClass("is-valid");
    }

    function canFormAction(){
        const hasDuplicateUser = checkDuplicateUser();
        const hasInValidInput = checkInValidAllInput();
        return hasDuplicateUser && hasInValidInput;
    }
</script>
</body>
</html>