<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maximum Login Attempts Exceeded</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #23262f;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" style="padding: 10px 0;">
            <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                <tr>
                    <td align="center" style="padding-bottom: 20px;">
                        <img src="https://www.flaticon.com/kr/free-icon/padlock_159069" alt="Lock Icon" width="80" height="80" style="display: block; margin: 0 auto;"/>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-bottom: 20px;">
                        <h1 style="color: #e31c12; font-size: 24px; margin: 0;">계정 잠금</h1>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-bottom: 20px;">
                        <p style="color: #333333; font-size: 16px; margin: 0;">
                            귀하의 계정이 최대 로그인 시도 횟수를 넘었습니다.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-bottom: 20px;">
                        <p style="color: #666666; font-size: 14px; margin: 0;">
                            귀하의 계정이 일시적으로 잠금 상태에 들어갔습니다.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-bottom: 20px;">
                        <p style="color: #999999; font-size: 14px; margin: 0;">
                           마지막 로그인 시도 날짜: <strong>[[${date}]]</strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 20px; background-color: #f7f7f7; border-radius: 8px;">
                        <p style="color: #333333; font-size: 16px; margin: 0;">
                            15분간 귀하의 계정은 잠금 상태로 들어가 로그인 시도를 할 수 없습니다.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-top: 20px;">
                        <p style="color: #999999; font-size: 14px; margin: 0;">
                            만약 귀하가 아닌 타인의 로그인 시도로 인해 해당 사태가 일어났을 경우 관리자에게 즉시 문의 해주세요.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
